<div class="bg-light d-flex justify-content-center align-items-center">

    <div class="bg-white col-lg-8 col-md-9 col-sm-9 m-1 p-5 curve-border">

        <app-loading-spinner *ngIf="!loading" class="text-center"></app-loading-spinner>

        <app-alert [success]=" success " *ngIf="success" (close)="close()"></app-alert>
        <app-alert [error]=" error " *ngIf="error" (close)="close()"></app-alert>

        <form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)">  

        <div class="display">

            <div class="">
                <div class="flex-display">
                    <div class="">
                        <img class="rounded-circle" [src]="url" (error)="url = '../../assets/Images/avatar.png' ">
                    </div>
                    <div class="margin-min-screen">
                        <input type="file" name="" id="file" class="font-size-12 mt-4" (change) = "selectImg($event)"><br>
                        <button class="btn btn-light shadow-none py-1 px-2 mt-2 border-dark font-size-12" (click) ="uploadAvatar()">change</button>
                    </div>
                </div>
            </div>

            <div class="w-100 font-size-16 margin-top">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="" class="form-label my-1">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="w-100 border-grey outline-none rounded-pill letter-spacing p-1" name="name" [(ngModel)]="userInfo.name">
                    </div>    
                </div>

                <!-- <div class="form-group row">
                    <div class="col-md-4">
                        <label for="" class="form-label">Gender</label>
                    </div>
                    <div>
                        <select class="select w-100 px-1 py-1 rounded-0 outline-none font-size" ngModel name="gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div> -->

                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="" class="form-label my-1">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="w-100 border-grey outline-none rounded-pill letter-spacing p-1" disabled name="email" [(ngModel)]="userInfo.email">
                    </div>    
                </div>

                <!-- <div class="form-group row">
                    <div class="col-md-4">
                        <label for="" class="form-label my-1">Old Password</label>
                    </div>

                    <div class="col-md-8">
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" class="border-grey outline-none rounded-pill letter-spacing p-1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="userInfo.oldpassword" name="oldpassword">
            
                            <div class="">
                                <span class="input-group-text rounded-pill">
                                <i class="fa" [ngClass]="{
                                    'fa-eye-slash': !showPassword,
                                    'fa-eye': showPassword
                                }"
                                (click)="toggleShow()"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="" class="form-label my-1">New Password</label>
                    </div>

                    <div class="col-md-8">
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" class="border-grey outline-none rounded-pill letter-spacing p-1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="userInfo.newpassword" name="newpassword">
            
                            <div class="">
                                <span class="input-group-text rounded-pill">
                                <i class="fa" [ngClass]="{
                                    'fa-eye-slash': !showPassword,
                                    'fa-eye': showPassword
                                }"
                                (click)="toggleShow()"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>   -->

                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="" class="form-label my-1">Date of Birth</label>
                    </div> 
                    <div class="col-md-8">
                        <input type="date" class="border-grey outline-none rounded-pill letter-spacing p-1" name="dateOfBirth" [(ngModel)]="userInfo.dateOfBirth">
                    </div>    
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="" class="form-label my-1">Mobile</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="w-100 border-grey outline-none rounded-pill letter-spacing p-1" name="phone" [(ngModel)]="userInfo.phone" #phone=ngModel pattern="^\d{10}$">
                    </div>    
                </div>

                <button class="btn btn-info shadow-none rounded-pill">update</button>
                <button class="btn btn-warning shadow-none rounded-pill pull-right" type="button">change password</button>
            </div>

        </div>
        </form>   

    </div>
</div>
